<%- model_class = Employee -%>
<div class="page-header">
  <div class="pull-right">
    <%= link_to t('.new', :default => t("helpers.links.new")),
              new_employee_path,
              :class => 'btn btn-primary' %>
  </div>
  <div class="pull-right col-md-3"><%= select_tag "site_id", options_for_select(@sites.map{ |site| [site.name, site.id ] }), { prompt: 'Choose Site', class: 'form-control', id: "site_id" } %></div>
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></h1>
</div>
<div class="table-responsive">
  <table class="table table-striped">
    <thead>
      <tr>

        <th><%= model_class.human_attribute_name(:name) %></th>
        <th><%= model_class.human_attribute_name(:license_number) %></th>
        <th><%= model_class.human_attribute_name(:adhaar_number) %></th>
        <th><%= model_class.human_attribute_name(:mobile_number) %></th>
        <th><%= model_class.human_attribute_name(:salary) %></th>
        <th><%= model_class.human_attribute_name(:designation) %></th>
        <th><%=t '.actions', :default => t("helpers.actions") %></th> 
      </tr>
    </thead>
    <tbody class="employees-details">
      <%= render "employees_details", employee: @employees %>
    </tbody>
  </table>
</div>