<%- model_class = EmployeePaymentRecord -%>
<div class="page-header">
  <div class="pull-right">
    <%= link_to "Make Payment",
              new_employee_payment_record_path(@employee),
              :class => 'btn btn-primary' %>
  </div>
  <h1>Payment Records</h1>
</div>
<div class="table-responsive">
  <table class="table table-striped">
    <thead>
      <tr>

        <th><%= model_class.human_attribute_name(:date) %></th>
        <th><%= model_class.human_attribute_name(:description) %></th>
        <th><%= model_class.human_attribute_name(:amount) %></th>
        <th><%=t '.actions', :default => t("helpers.actions") %></th> 
      </tr>
    </thead>
    <tbody>
      <% @payment_records.each do |payment_record| %>
        <tr>
          <td><%= payment_record.date %></td>
          <td><%= payment_record.description %></td>
          <td><%= payment_record.amount %></td>
          <td>
            <%= link_to t('.edit', :default => t("helpers.links.edit")),edit_employee_payment_record_path(@employee, payment_record), :class => 'btn btn-default btn-xs' %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>