<%- model_class = Attendance -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></h1>
  <div class="pull-right col-md-3"><%= select_tag "site_id", options_for_select(@sites.map{ |site| [site.name, site.id ] }), { prompt: 'Choose Site', class: 'form-control', id: "site_id" } %></div>
</div>
<div class="table-responsive">
  <table class="table table-striped">
    <h3>Date :- <%= Date.current %></h3>
    <thead>
      <tr>
        <th><%= model_class.human_attribute_name(:employee_name) %></th>
        <th><%= model_class.human_attribute_name(:status) %></th>
        <th><%=t '.actions', :default => t("helpers.actions") %></th> 
      </tr>
    </thead>
    <tbody class="employees">
      <%= render "employees", employee: @employees %>
    </tbody>
  </table>
</div>